* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
  width: 100%;
  height: 72.71px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
nav {
  width: 95%;
  height: 71.91px;
  margin: auto;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  align-items: center;
}
.nav-div1 {
  width: 50px;
  height: 71.97px;
}
.logo {
  width: 40px;
  height: 40px;
  margin: 10px 15px;
}
.nav-div2 {
  width: 644.82px;
  height: 71.97px;
  margin-left: 20px;
}
.nav-ul {
  width: 100%;

  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;

  li {
    padding: 0px 12px;
    margin: 18px 0px;

    a {
      font-size: 14px;
      font-weight: 400;
      color: #000000;
      text-decoration: none;
      padding: 8px 0px;
      margin: 0px 7px;
    }
  }
}
.nav-div3 {
  width: 293.99px;
  height: 71.97px;
  margin-left: 100px;

  input {
    width: 100%;
    height: 45%;
    margin: 14px 0px;
    border: none;
    outline: none;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 30px;
  }
}
.nav-div4 {
  width: 47.98px;
  height: 71.97px;
  margin-left: 100px;
  i {
    font-size: 30px;
    margin: 17px 0px;
  }
}

.nav-home:hover,
.nav-gift:hover,
.nav-order:hover,
.nav-pay:hover,
.nav-store:hover,
.nav-gifting:hover {
  color: green;
  font-weight: 600;
}
.nav-home:focus {
  border-bottom: 2px solid green;
}

.hero-section {
  width: 100%;
  height: 516.72px;
  margin-top: 73px;
}
.hero-section-div1 {
  width: 95%;
  height: 63.99px;
  margin: auto;
  padding: 20px;

  ul {
    padding: 0px 12px;
    list-style-type: none;
    li {
      margin: 0px 0px 0px 3px;

      a {
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

section {
  width: 100%;
  height: 480.76px;
  background-color: #ffffff;
  padding: 16px 0px;
}
.content {
  width: 95%;
  height: 100.78px;
  padding: 32px 0px;
  margin: auto;

  h2 {
    color: #1e3932;
    margin: 0px 0px 8px;
    font-size: 24px;
    font-weight: 600;
  }
}
.para-content {
  width: 95%;
  height: 331.98px;
  margin: 0px 0px 16px;
  margin: auto;

  p {
    font-size: 14px;
    color: #000000de;
    margin: 0px 0px 16px;
    line-height: 20px;
    font-weight: 400;
  }

  ul {
    margin-left: 40px;
  }
}
