* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
  width: 100%;
  height: 72.71px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
nav {
  width: 95%;
  height: 71.91px;
  margin: auto;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  align-items: center;
}
.nav-div1 {
  width: 50px;
  height: 71.97px;
}
.logo {
  width: 40px;
  height: 40px;
  margin: 10px 15px;
}
.nav-div2 {
  width: 644.82px;
  height: 71.97px;
  margin-left: 20px;
}
.nav-ul {
  width: 100%;

  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;

  li {
    padding: 0px 12px;
    margin: 18px 0px;

    a {
      font-size: 14px;
      font-weight: 400;
      color: #000000;
      text-decoration: none;
      padding: 8px 0px;
      margin: 0px 7px;
    }
  }
}
.nav-div3 {
  width: 293.99px;
  height: 71.97px;
  margin-left: 100px;

  input {
    width: 100%;
    height: 45%;
    margin: 14px 0px;
    border: none;
    outline: none;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 30px;
  }
}
.nav-div4 {
  width: 47.98px;
  height: 71.97px;
  margin-left: 100px;
  i {
    font-size: 30px;
    margin: 17px 0px;
  }
}

.nav-home:hover,
.nav-gift:hover,
.nav-order:hover,
.nav-pay:hover,
.nav-store:hover,
.nav-gifting:hover {
  color: green;
  font-weight: 600;
}
.nav-gifting {
  border-bottom: 2px solid green;
}

.hero-container {
  width: 100%;
  height: 422.11px;
  background-image: url(./hero-container-img.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 72.71px;
}
.hero-div1 {
  width: 100%;
  background-color: #00754a;
  font-size: 16px;
  padding: 10px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}
.hero-div2 {
  width: 430px;
  height: 125.87px;
  margin: 112px 0px 0px 50px;

  h1 {
    font-size: 32px;
    color: #ffffff;
    margin: 0px 0px 10px;
    font-weight: 600;
  }

  p {
    font-size: 17px;
    color: #ffffff;
    margin: 0px 0px 20px;
    font-weight: 400;
  }

  button {
    background-color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;

    a {
      text-decoration: none;
      color: #000000;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.main-card {
  width: 100%;
  height: 121.81px;
  padding: 8px 0px;
}
.main-card-h2 {
  /* width: 100%; */
  font-size: 32px;
  color: #000000;
  margin: 32px 0px 8px;
  font-weight: 600;
  text-align: center;
}
.main-card-p {
  /* width: 100%; */
  text-align: center;
  font-size: 12.8px;
  font-weight: 400;
  color: #212529;
  margin: 0px 196.514px;
}

.section1 {
  width: 100%;
  height: 431.98px;
  margin: 24px 0px 0px;
  padding: 48px 0px 24px;
  background-color: #edebe9;
}
.section1-container {
  width: 93%;
  height: 360px;
  margin: auto;
  /* background-color: yellow; */
  display: flex;
  gap: 30px;
}

.section1-img1,
.section1-img2,
.section1-img3 {
  flex: 1;
  background-color: #ffffff;
  border-radius: 8px;
  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
.section1-img1-content,
.section1-img2-content,
.section1-img3-content {
  width: 100%;
  padding: 16px;
  margin: 0px 0px 16px;

  h2 {
    font-size: 16px;
    color: #1e3922;
    padding-bottom: 5px;
  }
  p {
    font-size: 12px;
    color: #212529;
    font-weight: 200;
    line-height: 15px;
  }
}

.gift-card {
  width: 100%;
  height: 380.12px;
  padding: 8px 0px;
}
.gift-card-div1 {
  width: 95%;
  height: 60.78px;
  padding: 0px 12px;
  margin: auto;

  h2 {
    font-size: 24px;
    color: #212529;
    margin: 24px 0px 8px;
    font-weight: 600;
  }
}
.gift-card-div2 {
  width: 100%;
  height: 271.97px;
  padding: 0px 42px;
  /* background-color: yellow; */
  display: flex;
}
.gift-card-content1,
.gift-card-content2 {
  flex: 1;
  height: 223px;
  /* background-color: #00754a; */
  padding: 0px 12px;
  position: relative;
  top: 25px;
}
.gift-card-content1-div1,
.gift-card-content2-div1 {
  background-color: #f9f9f9;
  width: 540px;
  height: 200px;
  margin: 0px 0px 8ox -100px;
  padding: 16px 0px 16px 72px;
  position: absolute;
  right: -10px;
  /* left: -10px; */

  h2 {
    font-size: 18px;
    color: #1e3932;
    margin: 0px 0px 8px;
    font-weight: 600;
  }

  p {
    font-size: 12px;
    color: #212529;
    font-weight: 400;
    line-height: 20px;
  }

  button {
    margin: 34.9771px 0px 0px;
    width: 111.25px;
    height: 33.98px;
    padding: 8px 24px;
    background-color: #00754a;
    border-radius: 20px;
    border: none;
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 12px;
    }
  }
}

.gift-card-content1-div2,
.gift-card-content1-div2 {
  width: 165px;
  height: 170px;
  border-radius: 10px;
  z-index: 2;
  position: absolute;
  top: 15px;
  left: 12px;

  img {
    border-radius: 10px;
  }
}

.footer-top-container {
  width: 100%;
  height: 498.44px;
  background-color: #edebe9;
  margin: 24px 0px 0px;
  padding: 48px 0px 24px;
}

.footer-top-content {
  width: 95%;
  height: 426.46px;
  margin: 0px auto;
  margin: auto;
  display: flex;
  margin: auto;
}
.footer-top-content1,
.footer-top-content2,
.footer-top-content3 {
  width: 439.99px;
  height: 402.47px;
  margin: 0px 0px 24px;
  padding: 0px 12px;
}

.footer-top-content1-div1,
.footer-top-content2-div1,
.footer-top-content3-div1 {
  width: 416px;
  height: 386.47px;
  padding: 0px 0px 16px;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer-top-content1-img {
  width: 100%;
  height: 250px;
  background-image: url(./footer-top-img1.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer-top-content2-img {
  width: 100%;
  height: 250px;
  background-image: url(./footer-top-img2.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer-top-content3-img {
  width: 100%;
  height: 250px;
  background-image: url(./footer-top-img3.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer-top-content1-content,
.footer-top-content2-content,
.footer-top-content3-content {
  width: 414.53px;
  height: 135px;
  padding: 16px;

  p {
    color: #333333;
    font-size: 12px;
    margin: 0px 0px 12px;
    font-weight: 400;
    line-height: 20px;
  }

  button {
    /* margin: 21.043px 0px 0px; */
    padding: 8px 24px;
    border-radius: 20px;
    border: none;
    background-color: #00754a;
    color: #ffffff;
  }
}
.footer-top-button1,
.footer-top-button3 {
  margin: 21.043px 0px 0px;
}

.footer-div1,
.footer-div2,
.footer-div3 {
  background-color: #edebe9;
  color: #212529;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 2px;
}

.footer-div3 {
  padding: 0px 0px 20px;
}

footer {
  width: 100%;
  height: 1427.84px;
  padding: 128px 32px 32px;
  background-color: #0e382c;
  border: 5px solid white;
}
.footer-container {
  width: 95%;
  height: 1211.86px;
  margin: auto;
}
.footer-container-div {
  width: 95%;
  height: 1021.15px;
  display: flex;
  margin: 0px -12px 48px;
  margin: auto;
}
.footer1,
.footer2,
.footer3,
.footer4 {
  width: 219.99px;
  height: 1197.16px;
  padding: 0px 12px;

  h3 {
    font-size: 18px;
    color: #ffffff;
    margin: 0px 0px 7.2px;
  }

  ul {
    list-style-type: none;

    li {
      font-size: 14px;
      margin: 16px 0px 24px;
      color: #ffffff;
    }
  }
}

.footer5 {
  width: 250px;
  height: 1197.16px;
  padding: 0px 12px;

  h3 {
    font-size: 18px;
    color: #ffffff;
    margin: 0px 0px 7.2px;
  }

  ul {
    list-style-type: none;

    li {
      font-size: 14px;
      font-weight: 400;
      margin: 16px 0px 24px;
      color: #ffffff;
    }
  }
}
.social-media {
  width: 439.99px;
  height: 123.99px;
  padding: 0px 12px;
  display: flex;
}
.social-media1 {
  width: 152.99px;
  height: 123.99px;
  h3 {
    font-size: 18px;
    margin: 0px 0px 7.2px;
    color: #ffffff;
  }
}

.social-media1-img {
  ul {
    width: 152.99px;
    height: 50.99px;
    list-style-type: none;
    display: flex;
    margin: 0px 0px 16px;

    li {
      flex: 1;
    }
  }
}

.social-media2 {
  width: 261.01px;
  height: 123.99px;
  padding-left: 68px;
}
.social-media2-img1 {
  padding: 0px 0px 8px;
  text-align: end;
}

.footer {
  width: 100%;
  height: 42.72px;
  margin: auto;
  margin-top: 50px;

  ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 0px 0px;
    margin: 0px 0px 16px;
    border-top: 1px solid #ffffff;

    li {
      /* width: 150px; */
      margin: 2px 10px;
      padding: 0px 17px 0px 0px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
.li-border {
  border-right: 1px solid #ffffff;
}
